@import '../../../styles/colors';

/* smoke-effect.component.css */
#smoke-bkg {
  position: fixed;
  top: 0;
  z-index: -10;
  height: 150vh;
  width: 150vw;
  background-color: black;
  /* opacity: .5; */
  /* background: linear-gradient(to bottom right, $rich-black, $black); */
}

#smoke-canvas {
  opacity: 0.7;
}