<div class="top-bar" [class.visible]="visible">
  <div class="small-logo-container">
    <img
      src="assets/images/no_letters_logo.webp"
      alt="logo club chokismotoclub"
      class="small-logo"
    />
    <span>CHOKIS MOTOCLUB</span>
  </div>

  <div class="social-icons">
    <a class="icon-hover" href="http://instagram.com/_u/chokismotoclub/">
      <img
        alt="icono instagram"
        width="30px"
        src="assets/icons/instagram.svg"
      />
    </a>

    <a class="icon-hover" href="https://app.rockr.io/u/669246376e28f200111a4bf1">
      <div class="rockr-icon">
        <img alt="icono rockr" width="20px" src="assets/icons/rockr.svg" />
      </div>
    </a>
  </div>
</div>
