<app-smoke-effect></app-smoke-effect>

<main>
  <div class="logo-container w-96">
    <img class="w-96" src="assets/images/logosm.webp" />
  </div>

  <footer class="flex align-center gap-8">
    <a href="http://instagram.com/_u/chokismotoclub/">
      <img width="40px" src="assets/icons/instagram.svg" />
    </a>

    <a href="https://app.rockr.io/u/669246376e28f200111a4bf1">
      <div class="bg-black p-2 rounded-full max-w-10">
        <img src="assets/icons/rockr.svg" />
      </div>
    </a>
  </footer>
</main>
