<div class="logo-container w-96">
  <h1 id="title">{{ title() }}</h1>
  <img
    id="logo"
    alt="logo club chokismotoclub"
    class="logo w-96"
    src="assets/images/no_letters_logo.webp"
  />
  <h2 id="subtitle">{{ location() }}</h2>
  <h3 id="subtitle__sm">{{ subtitle() }}</h3>
</div>

<section class="icon flex justify-center align-center gap-8">
  <a class="icon__hover" href="http://instagram.com/_u/chokismotoclub/">
    <img alt="icono instagram" width="40px" src="assets/icons/instagram.svg" />
  </a>

  <a class="icon__hover" href="https://app.rockr.io/u/669246376e28f200111a4bf1">
    <div class="bg-black p-2 rounded-full max-w-10">
      <img alt="icono rockr" src="assets/icons/rockr.svg" />
    </div>
  </a>
</section>
