<main>
  <div class="logo-container w-96">
    <h1 id="title">CHOKIS MOTOCLUB</h1>
    <img
      id="logo"
      alt="logo club chokismotoclub"
      class="logo w-96"
      src="assets/images/no_letters_logo.webp"
    />
    <h2 id="subtitle">O Carballiño · Galicia</h2>
    <h3 id="subtitle__sm">Club motero desde 2023 · #xentedebarra</h3>
  </div>

  <section >
    <p>
      Chokis Motoclub es un club motero fundado en 2023, ubicado en O
      Carballiño, una pintoresca localidad de Galicia. Desde su creación, este
      club ha reunido a apasionados de las motos de toda la región, compartiendo
      su amor por la carretera y el estilo de vida motero.
    </p>
    <p>
      Los miembros de Chokis Motoclub no solo disfrutan de la adrenalina de
      rodar en sus motocicletas, sino que también promueven valores como la
      camaradería, la aventura y el respeto por la comunidad.
    </p>
    <p>
      Este club organiza salidas moteras regulares por las impresionantes
      carreteras gallegas, explorando tanto las rutas costeras como los paisajes
      montañosos de la zona. Además, Chokis Motoclub participa activamente en
      eventos benéficos y encuentros moteros, consolidándose como un referente
      dentro de la cultura motera en Galicia.
    </p>
    <p>
      Si eres un amante de las motos y buscas formar parte de un grupo con el
      que compartir experiencias, Chokis Motoclub te abre sus puertas. Ya sea
      que seas un veterano motero o estés empezando en este mundo, este club
      ofrece un ambiente acogedor y lleno de emoción.
    </p>
    <p>
      Para unirte a Chokis Motoclub o estar al tanto de sus próximas rutas y
      eventos, visita su sitio web oficial o sigue sus redes sociales. Vive la
      pasión por las motos y únete a una comunidad vibrante en el corazón de
      Galicia.
    </p>
  </section>

  <section class="flex align-center gap-8">
    <a class="icon-hover" href="http://instagram.com/_u/chokismotoclub/">
      <img
        alt="icono instagram"
        width="40px"
        src="assets/icons/instagram.svg"
      />
    </a>

    <a
      class="icon-hover"
      href="https://app.rockr.io/u/669246376e28f200111a4bf1"
    >
      <div class="bg-black p-2 rounded-full max-w-10">
        <img alt="icono rockr" src="assets/icons/rockr.svg" />
      </div>
    </a>
  </section>

  <footer>Chokismotoclub 2023-2024</footer>
</main>
