@import "./../../../styles/colors";
@import "./../../../styles/animations";

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow: auto;

  a {
    margin-top: 25px;
  }

  .logo-container {
    width: 100vw;
    height: 60vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: "Black Ops One";
    color: $light-orange;
    text-align: center;

    #logo {
      max-width: 50vw;
      animation: coming 5s ease-in-out forwards, beat 6s ease-in-out infinite 5s;
    }

    #title {
      font-size: 2rem;

      animation: coming 3s ease-in-out forwards;
    }

    #subtitle {
      font-size: 1.5rem;
      animation: coming 3s ease-in-out forwards;

      &__sm {
        font-size: 0.8em;
        animation: coming 3s ease-in-out forwards;
      }
    }
  }

  footer {
    animation: coming 4.5s ease-in-out forwards;

    .icon-hover {
      transition: transform 0.3s ease-in-out;
      display: inline-block;
      &:hover {
        transform: scale(0.9);
      }
    }
  }

  section {
    color: $light-orange;
  }
}
